/**
 * file: css/css.css
 * purpose: styling
 **/

/* definer variable i :root */
 :root {
   --contrast: rgb(0, 0, 0);
   --backgr: #ffffff;
 }

/* variabler som kan bruges på elementer */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
